.container {
    display: flex;
    margin: 50px 0px;
}

.leftsidevar {
    width: 30%;
}

.right-sidebar {
    background: #7233e5;
    width: 65%;
}

.action-btn {
    background: #7233e5;
    padding: 7px 50px;
    display: inline-block;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    cursor: pointer;
    width: 90%;
}

button.action-btn:hover {
    background: rgb(79 16 193);
}

.result-section {
    padding: 10px 40px;
}

.result {
    background: rgb(124 59 255);
    padding: 0px 15px;
    overflow: auto;
}


/* wpdb css  */
.wpdb-btn {
    background: #265fd0;
    padding: 7px 50px;
    display: inline-block;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    cursor: pointer;
    width: 90%;
}

.wpdb-right-sidebar {
    background: #265fd0;
    width: 65%;
}

.wpdb-result {
    background: #2596e7;
    padding: 0px 15px;
    overflow: auto;
}


/* Transient css  */
.transient-btn {
    background: #c5982d;
    padding: 7px 50px;
    display: inline-block;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    cursor: pointer;
    width: 90%;
}

.transient-right-sidebar {
    background: #c5982d;
    width: 65%;
}

.transient-result {
    background: #d7ab44;
    padding: 0px 15px;
    overflow: auto;
}

/* user roles css  */
.user-role-btn {
    background: #21bb2dcc;
    padding: 7px 50px;
    display: inline-block;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    cursor: pointer;
    width: 90%;
}

.user-role-right-sidebar {
    background: #21bb2dcc;
    width: 65%;
}

#user-role-result {
    background: #2c7439cc;
    padding: 0px 15px;
    overflow: auto;
    font-size: 17px;
}